#loginBtn,
#registroBtn {
    cursor: default !important;
    margin-bottom: 25px;
    background-color: white;
    border-width: 0px;
}
body {
    background-image: url("https://www.allwhitebackground.com/images/6/Geometric-Background-Free-Image.jpg");
    background-color: #cccccc;
  }
.card {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: auto;
    width: 15rem;
}

.modal.hidden {
    display: none;
}

#btnGoogle {
    border-color: #DB4437;
    background-color: white;
    color: #DB4437;
}

#btnGoogle:hover {
    background-color: #DB4437;
    color: white;
}

#recordarCheck {
    justify-content: flex-start
}

#userPicture {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

#labelPassword,
#labelEmail {
    margin-left: 10px;
}

#inputPassword,
#inputEmail {
    margin-left: 10px;
}

#labelLoginimage {
    float: right;
}

.btnOnClick {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-position: under;
    text-decoration-color: teal;
    font-weight: bold;
    color: teal;
}
#titulo{
    font-family: Courier;
    margin-left: auto;
    margin-right: auto;
    font-size: 4ch;
    font-weight: bold;
    border-radius: 10px;
}
.divEditor{
    border: 10px;
    text-align: center; 
}
.menu {
    text-align: left;
    font-weight: bold;
    font-family: Courier;
}
#intro{
    margin-top: 60px;
    font-family: Courier;
}
#subtitulos{
    font-weight: bold;
    font-family: Courier;
    color: black;
}
#subContainer{
    margin-top: 60px;
    border-radius: 60px;
}
#nombre{
    font-family: Courier;
    color: black;
    text-align: center;
}
#logo{
    margin-left: 200px;
}
#sound{
    margin-left: 100px;
}
#contenedor{
    margin-top: 60px;
}
#barra{
    width: 100px;
    height: 0px;  
}
#labelLogin{
    text-align: right;
    color: black;
}
#col{
    border-radius: 10px;
}