.contenedor{
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}



.fila{
    margin-top: 10px;
}


#graficos{
    max-width: 90%;
}
#containerChartMensual{
    margin-left: 10px;
    height: 300px;
}
#containerChartDiario{
    height: 300px;
}
